<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @part.page_id %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @part.contents %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
